@import 'https://cdnjs.cloudflare.com/ajax/libs/antd/4.20.7/antd.variable.min.css';

/* .ant-btn-primary {
    background-color: #90BA75;
} */

body {
  touch-action: pan-x pan-y;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media print { html, body { height:100vh; margin: 0 !important; padding: 0 !important; overflow: hidden; } }
